#!/bin/bash

############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/yesimxev/mobvoi-ticwatch-kernel -b nethunter
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
############################################################################################

# Enable ccache to speed up compilation
CCACHE=true

# Kernel local name
export LOCALVERSION=-yesimxev

# Architecture
export ARCH=arm

# GCC 32bit (arm) source
CROSS_COMPILE_ARM32_SRC="http://kali.download/nethunter-images/toolchains/linaro-armhf-5.5.tar.xz"
CROSS_COMPILE_ARM32_TYPE="wget"
# And it's path
CCD32="${TD}/armhf-linaro-5.5"
export CROSS_COMPILE=${CCD32}/bin/arm-linux-gnueabihf-

# Clang
unset CLANG_ROOT
unset CLANG_PATH
unset CLANG_SRC
unset LD_LIBRARY_PATH
unset CLANG_TRIPLE
unset CC
unset CLANG_SRC

MAKE_ARGS="CONFIG_NO_ERROR_ON_MISMATCH=y"
